@model IEnumerable<VinaMilk.Models.DanhMuc>
@*@model PagedList.IPagedList<VinaMilk.Models.DanhMuc>*@
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Quản lý Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h2 style="display: flex; justify-content: center; font-size: 35px; font-weight: 400">Danh Mục Sản Phẩm</h2>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <p>Tìm Kiếm Trong Cửa Hàng @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @style = "border-radius:10px;padding:5px 20px" })</p>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" value="Tìm Kiếm" style="margin: 10px 0; border-radius: 10px; border-color: #27f;color:#fff; width: 60px; background-color: #27f ">Tìm</button>
                            </div>
                        </div>
                    </div>
                }
                <div>
                    <a style="background-color: bisque; color: #27f; text-align: center; padding: 5px 0 2px 0; position: relative; top: -60px; left: 800px; border-radius: 5px;" href="/Admin/DanhMucs/Create" class="btn-success">
                        Thêm Danh Mục
                    </a>
                </div>
                <div class="table-responsive" style="width:100%;">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th> @Html.ActionLink("Mã Danh Mục", "Index", new { sortOder = ViewBag.SapTheoMa, currentFilter = ViewBag.currentFilter })</th>
                                <th> @Html.ActionLink("Tên Danh Mục", "Index", new { sortOder = ViewBag.SapTheoTen, currentFilter = ViewBag.currentFilter })</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.MaDM</td>
                                    <td>
                                        <span style="padding: 0px;" class="block-email">@item.TenDM</span>
                                    </td>
                                </tr>
                                <td colspan="3">
                                    <div class="btn" style="background-color: antiquewhite; margin-left: 200px">
                                        @Html.ActionLink("Cập Nhật", "Edit", new { id = item.MaDM.Trim() })
                                    </div>
                                    <div class="btn" style="background-color:bisque; margin-left:400px">
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaDM.Trim() })
                                    </div>

                                </td>

                            }
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
     currentFilter = ViewBag.CurrentFilter
    }))*@