@model PagedList.IPagedList<Models.EF.SanPham>
@using PagedList.Mvc
@using PagedList;

@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .image_product:hover{
        opacity:0.7;
        cursor:pointer;
    }
</style>
<div class="content">
    <div style="display: flex; align-items: center; height: 50px;" class="conten_procs">
        <h2 style="font-size: 16px; color: brown;" class="conten_procs_title">Sản Phẩm Theo Danh Mục</h2>
        <span style="display: block; font-size: 18px; margin: 0px 8px; color: #92278f;" class="conten_procs_icons">>></span>
        <span style=" display: block; color: #92278f;" class="conten_procs_text">@ViewBag.tenDM</span>
    </div>
    <div class="table-responsive" style="width:100%;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Mô Tả</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img style="max-width: 100%; width: 200px; border-radius: 10px; " class="image_product" src="~/Assest/Admin/img/images/@item.Anh" />
                        </td>
                        <td>
                            @item.TenSP
                        </td>
                        <td>
                            @Html.DisplayFor(Model => item.GiaHT) VNĐ
                        </td>
                        <td style="width:200px;">
                            @item.MoTa
                        </td>
                        <th></th>
                    </tr>
                }
            </tbody>
        </table>
        <div style="display:flex;justify-content:space-around">
            @Html.PagedListPager(Model, page => Url.Action("Products", new { page, @searchString = @ViewBag.SearchString }))

        </div>
    </div>
    <div style="padding:10px;background-color:antiquewhite;width:80px;border-radius:8px;margin-left:30px">
        @Html.ActionLink("Trở Về", "Index")
    </div>
</div>