@model PagedList.IPagedList<Models.EF.SanPham>
@using PagedList.Mvc
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @using (Html.BeginForm("Products", "Home", FormMethod.Get))
    {
        <input style="border-radius: 15px; width: 300px; padding: 10px; outline-color: #27f;border-color:#000" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập Từ Khóa Tìm Kiếm..." />
        <button type="submit" value="Tìm Kiếm" style="margin: 10px 0; border-radius: 10px; border-color: #27f;color:#fff; width: 60px; background-color: #27f ">Tìm</button>
    }
    <div class="table-responsive" style="width:100%;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Mô Tả</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                        <tr>
                            <td>
                                <img style="max-width: 100%; width: 200px; " class="image_product" src="~/Assest/Admin/img/images/@item.Anh" />
                            </td>
                            <td>
                                @item.TenSP
                            </td>
                            <td>
                                @Html.DisplayFor(Model => item.GiaHT) VNĐ
                            </td>
                            <td style="width:200px;">
                                @item.MoTa
                            </td>
                            <th></th>
                        </tr>
                }
            </tbody>
        </table>
        <div style="display:flex;justify-content:space-around">
            @Html.PagedListPager(Model, page => Url.Action("Products", new { page, @searchString = @ViewBag.SearchString }))
        </div>
    </div>

</div>