
@model Models.EF.SanPham
@{
    ViewBag.Title = "Xóa Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:100px">
    <h3 style="text-align:center">Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
    <div style="width:96%; margin:20px auto 0px auto">
        <div class="dl-horizontal" style=" margin-top:20px">
            <div style="display:block">
                <span>@Html.DisplayFor(model => model.DanhMuc.TenDM)</span>
                @*<b style="margin-right:10px">Tên danh mục:</b>
                        <span>@Html.DisplayFor(model => model.DanhMuc.TenDM)</span>
                    </div>
                    <div style="display:block">
                        <b style="margin-right:10px">Tên sản phẩm:</b>
                        <span>@Html.DisplayFor(model => model.TenSP)</span>
                    </div>
                    <div style="display:block">
                        <b style="margin-right:10px">Ảnh sản phẩm:</b>
                        <span><img src="~/Areas/Admin/Assets/images/@Model.Anh" /></span>
                    </div>
                    <div style="display:block">
                        <b style="margin-right:10px"> Số lượng:</b>
                        <span> @Html.DisplayFor(model => model.SoLuongCo)</span>
                    </div>
                    <div style="display:block">
                        <b style="margin-right:10px">Giá:</b>
                        <span>@Html.DisplayFor(model => model.GiaHT) VNĐ</span>
                    </div>
                    <div style="display:block">
                        <b style="margin-right:10px">Mô tả:</b>
                        <span>@Html.DisplayFor(model => model.MoTa)</span>
                    </div>
                </div>*@
                <div>
                    @using (Html.BeginForm("Delete", "Product", FormMethod.Post, htmlAttributes: new { @style = "text-align: center;margin-top: 20px;" }))
                    {
                        @Html.AntiForgeryToken()
                        <span>Mã Sản Phẩm:</span>
                        @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @style = "width:50%;margin:0 0 20px 300px", @class = "form-control" } })
                        <div class="form-actions no-color" style="margin-bottom:300px;">
                            <input type="submit" value="Xóa" class="btn btn-danger" /> |
                            @Html.ActionLink("Quay Lại", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (ViewBag.Error != null)
        {
            <br />
            <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
        }