@model PagedList.IPagedList<Models.EF.DanhMuc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h2 style="display: flex; justify-content: center; font-size: 35px; font-weight: 400">Danh Mục Sản Phẩm</h2>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "TypeProducts", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input style="border-radius: 15px; width: 300px; padding: 10px; outline-color: #27f;border-color:#000" type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập Từ Khóa Tìm Kiếm..." />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" value="Tìm Kiếm" style="margin: 10px 0; border-radius: 10px; border-color: #27f;color:#fff; width: 60px; background-color: #27f ">Tìm</button>
                            </div>
                        </div>
                    </div>
                }
            <div class="table-responsive" style="width:100%;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã loại</th>
                            <th>Tên Loại</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.MaDM</td>
                                <td>
                                    <span style="padding: 0px;" class="block-email">@item.TenDM</span>
                                </td>
                            </tr>
                        <td colspan="3">
                            <a style="padding: 5px; color: #fff; margin-left: 20px; border-radius: 5px;" href="/Admin/TypeProducts/Create" class="btn-success">
                                Thêm Danh Mục
                            </a>
                            <a style="padding: 5px; color: #fff; margin-left: 25%; border-radius: 5px;" href="/Admin/TypeProducts/Edit?maDM/@item.MaDM" class="btn-warning">Sửa Danh Mục</a>

                            <a style="padding: 5px; color: #fff; margin-left: 25%; border-radius: 5px; " href="/Admin/TypeProducts/Delete?maDM/@item.MaDM" class="btn-danger">Xóa Danh Mục</a>
                        </td>
                    }
                        </tbody>
                    </table>
                    <div style="display:flex;justify-content:space-around">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>